pkgbase = xlibre-video-vesa
	pkgdesc = XLibre vesa video driver
	pkgver = 2.6.0.4
	pkgrel = 1
	url = https://github.com/X11Libre/xf86-video-vesa
	arch = aarch64
	arch = x86_64
	groups = xlibre-drivers
	license = MIT
	makedepends = xlibre-server-devel
	makedepends = X-ABI-VIDEODRV_VERSION=28.0
	depends = glibc
	conflicts = xf86-video-vesa
	conflicts = xorg-server<21.1.1
	conflicts = X-ABI-VIDEODRV_VERSION<28
	conflicts = X-ABI-VIDEODRV_VERSION>=29
	source = xf86-video-vesa-xlibre-xf86-video-vesa-2.6.0.4.tar.gz::https://github.com/X11Libre/xf86-video-vesa/archive/refs/tags/xlibre-xf86-video-vesa-2.6.0.4.tar.gz
	b2sums = ff51b7981be1388f5269efce5ee816804ff820413e677f0ffba70bd45354ada55bcc3decdda00c6ce92e8d31e088bf3c189650b014e2a8af325a7d5fc6defcf9

pkgname = xlibre-video-vesa
